:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
}


//Primary

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-Pink: hsl(333, 80%, 67%);
$background-color:rgb(157, 191, 196);
//Neutral

$dark-Grayish-Magenta: hsl(303, 10%, 53%);
$light-Grayish-Magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);


